{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
    	<title>Open Class Diagrammer</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta name="description" content="Enter the details for the classes in your project, and Open Class Diagrammer will create a UML diagram for you, letting you visualize class relationships.">
		{% tailwind_css %}
		<link rel="icon" type=image/x-icon href="{% static 'images/icons/favicon.ico' %}">
        <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'fontawesomefree/css/regular.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
		<script type="module" src="{% static 'js/app.js' %}" defer></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jscolor/2.5.2/jscolor.js" integrity="sha512-IShZ5NZxEaotdJdpd853DUKXbgYUH7O/PaeGDp2eiS3XxNDnIQ9+GuRX3d5c4joOqs7Ni8ZKQmRFbKImtcwLaA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	</head>

	<body 
		class="bg-white font-sans leading-normal tracking-normal dark:bg-slate-800 min-h-screen" 
		x-data="{ showSidebar: false, sidebarExpanded: false }" 
		x-init="() => {
			if (localStorage.getItem('theme') === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
                document.documentElement.classList.add('dark');
            } else {
                document.documentElement.classList.remove('dark');
            }
			let sidebarStateStr = localStorage.getItem('sidebarState');
			let sidebarState = null;
			if (sidebarStateStr) {
				sidebarState = JSON.parse(sidebarStateStr);
			} 
			console.log(sidebarState);
			if (sidebarState) {
				showSidebar = sidebarState.showSidebar;
				sidebarExpanded = sidebarState.sidebarExpanded;
			} else if (window.innerWidth >= 768) {
				showSidebar = 'open';
			}
		}"
	>
		{% include "./partials/header.html" %}
		<main class="flex min-h-[calc(100vh-2.5rem)] sm:min-h-[calc(100vh-3rem)] md:min-h-[calc(100vh-3.5rem)]">
			{% include "./partials/sidebar.html" %}
			{% block page %}{% endblock %}
		</main>
	</body>
</html>
