{% extends 'base.html' %}

{% load static has is_instance sanitize %}

{% block page %}
<section class="grow basis-full mx-4 mt-5 sm:mt-6 md:mx-5 md:mt-8 lg:mx-6 lg:mt-10 2xl:mx-8 2xl:mt-12" x-cloak>
    <h2>{{ model_name_plural }}</h2>
    <section class="my-3 sm:my-4 md:my-6 lg:my-8 xl:my-10 2xl:my-12 block md:flex md:flex-wrap lg:flex-nowrap space-y-2 sm:space-y-3 md:space-y-4 lg:space-y-0 lg:space-x-6 xl:space-x-8 2xl:space-x-10 3xl:space-x-12 lg:justify-between items-end">
        <p class="w-full md:w-auto md:shrink md:grow">{{ view.model.details }}</p>
        <a href="{% url create_route %}" class="btn primary space-x-2 ml-auto shrink-0">
            <i class="fa-solid fa-plus"></i>
            <span>New</span>
        </a>
    </section> 
    {% if object_list %}
    <section class="px-0.5 sm:px-1 md:px-2 lg:px-4 xl:px-6 2xl:px-8 3xl:px-10" x-data="{ showDelete: false, deletePK: '', filter: '' }">
        <div class="flex w-full mt-2 justify-end items-center">
            <div class="flex relative my-2 sm:my-4 md:my-6 lg:mt-10 lg:mb-8 w-full sm:w-4/5 md:w-1/2 lg:w-80">
                <input class="pl-9" x-model="filter" placeholder="Search" />
                <div class="absolute pointer-events none flex h-full w-10 items-center justify-center">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>
        </div>
        <table class="w-full" x-data="{ sort: null, object_list: {{ object_list_json }} }">
            <thead>
                <tr>
                    {% if view.model|has:"name" %}
                    <th class="text-left space-x-1 hover:bg-white dark:hover:bg-slate-600 group" @click="sort = sort === 'name' ? '-name' : 'name'">
                        <span class="group-hover:underline">NAME</span>
                        <i class="fa-solid fa-sort-up h-4 w-4" x-show="sort === 'name'"></i>
                        <i class="fa-solid fa-sort-down h-4 w-4" x-show="sort === '-name'"></i>
                    </th>
                    {% endif %}
                    {% if view.model|has:"description" %}
                    <th class="text-left space-x-1 hover:bg-white dark:hover:bg-slate-600 group" @click="sort = sort === 'description' ? '-description' : 'description'">
                        <span class="group-hover:underline">DESCRIPTION</span>
                        <i class="fa-solid fa-sort-up h-4 w-4" x-show="sort === 'description'"></i>
                        <i class="fa-solid fa-sort-down h-4 w-4" x-show="sort === '-description'"></i>
                    </th>
                    {% endif %}
                    {% if view.model|has:"class_assoc_id" %}
                    <th class="text-center space-x-1 hover:bg-white dark:hover:bg-slate-600 group" @click="sort = sort === 'class_assoc__name' ? '-class_assoc__name' : 'class_assoc__name'">
                        <span class="group-hover:underline">CLASS</span>
                        <i class="fa-solid fa-sort-up h-4 w-4" x-show="sort === 'class_assoc__name'"></i>
                        <i class="fa-solid fa-sort-down h-4 w-4" x-show="sort === '-class_assoc__name'"></i>
                    </th>
                    {% endif %}
                    {% if view.model|is_instance:"Class|Relationship" %}
                    <th class="text-center space-x-1 hover:bg-white dark:hover:bg-slate-600 group" @click="sort = sort === 'module__name' ? '-module__name' : sort === 'from_class__module__name' ? '-from_class__module__name' : '{{ view.model|is_instance:'Class' }}'.toLowerCase() === 'true' ? 'module__name' : 'from_class__module__name'">
                        <span class="group-hover:underline">MODULE</span>
                        <i class="fa-solid fa-sort-up h-4 w-4" x-show="sort === 'module__name' || sort === 'from_class__module__name'"></i>
                        <i class="fa-solid fa-sort-down h-4 w-4" x-show="sort === '-module__name' || sort === '-from_class__module__name'"></i>
                    </th>
                    {% endif %}
                    {% if view.model|is_instance:"Module|Class" %}
                    <th class="text-left space-x-1 hover:bg-white dark:hover:bg-slate-600 group" @click="sort = sort === 'projects' ? '-projects' : sort === 'module__projects' ? '-module__projects' : '{{ view.model|is_instance:'Module' }}'.toLowerCase() === 'true' ? 'projects' : 'module__projects'">
                        <span class="group-hover:underline">PROJECTS</span>
                        <i class="fa-solid fa-sort-up h-4 w-4" x-show="sort === 'projects' || sort === 'module__projects'"></i>
                        <i class="fa-solid fa-sort-down h-4 w-4" x-show="sort === '-projects' || sort === '-module__projects'"></i>
                    </th>
                    {% endif %}
                    {% if view.model|has:"visibility" %}
                    <th class="text-center space-x-1 hover:bg-white dark:hover:bg-slate-600 group" @click="sort = sort === 'visibility' ? '-visibility' : 'visibility'">
                        <span class="group-hover:underline">VISIBILITY</span>
                        <i class="fa-solid fa-sort-up h-4 w-4" x-show="sort === 'visibility'"></i>
                        <i class="fa-solid fa-sort-down h-4 w-4" x-show="sort === '-visibility'"></i>
                    </th>
                    {% endif %}
                    {% if view.model|has:"data_type" %}
                    <th class="text-center space-x-1 hover:bg-white dark:hover:bg-slate-600 group" @click="sort = sort === 'data_type' ? '-data_type' : 'data_type'">
                        <span class="group-hover:underline">DATA TYPE</span>
                        <i class="fa-solid fa-sort-up h-4 w-4" x-show="sort === 'data_type'"></i>
                        <i class="fa-solid fa-sort-down h-4 w-4" x-show="sort === '-data_type'"></i>
                    </th>
                    {% endif %}
                    {% if view.model|is_instance:"Method" %}
                    <th class="text-left space-x-1 hover:bg-white dark:hover:bg-slate-600 group" @click="sort = sort === 'arguments' ? '-arguments' : 'arguments'">
                        <span class="group-hover:underline">ARGUMENTS</span>
                        <i class="fa-solid fa-sort-up h-4 w-4" x-show="sort === 'arguments'"></i>
                        <i class="fa-solid fa-sort-down h-4 w-4" x-show="sort === '-arguments'"></i>
                    </th>
                    <th class="text-center space-x-1 hover:bg-white dark:hover:bg-slate-600 group" @click="sort = sort === 'return_type' ? '-return_type' : 'return_type'">
                        <span class="group-hover:underline">RETURN TYPE</span>
                        <i class="fa-solid fa-sort-up h-4 w-4" x-show="sort === 'return_type'"></i>
                        <i class="fa-solid fa-sort-down h-4 w-4" x-show="sort === '-return_type'"></i>
                    </th>
                    {% endif %}
                    {% if view.model|is_instance:"Relationship" %}
                    <th class="text-center space-x-1 hover:bg-white dark:hover:bg-slate-600 group" @click="sort = sort === 'from_class__name' ? '-from_class__name' : 'from_class__name'">
                        <span class="group-hover:underline">FROM</span>
                        <i class="fa-solid fa-sort-up h-4 w-4" x-show="sort === 'from_class__name'"></i>
                        <i class="fa-solid fa-sort-down h-4 w-4" x-show="sort === '-from_class__name'"></i>
                    </th>
                    <th class="text-center space-x-1 hover:bg-white dark:hover:bg-slate-600 group" @click="sort = sort === 'to_class__name' ? '-to_class__name' : 'to_class__name'">
                        <span class="group-hover:underline">TO</span>
                        <i class="fa-solid fa-sort-up h-4 w-4" x-show="sort === 'to_class__name'"></i>
                        <i class="fa-solid fa-sort-down h-4 w-4" x-show="sort === '-to_class__name'"></i>
                    </th>
                    <th class="text-center space-x-1 hover:bg-white dark:hover:bg-slate-600 group" @click="sort = sort === 'relationship_type' ? '-relationship_type' : 'relationship_type'">
                        <span class="group-hover:underline">TYPE</span>
                        <i class="fa-solid fa-sort-up h-4 w-4" x-show="sort === 'relationship_type'"></i>
                        <i class="fa-solid fa-sort-down h-4 w-4" x-show="sort === '-relationship_type'"></i>
                    </th>
                    {% endif %}
                    <th class="text-left space-x-1">ACTIONS</th>
                </tr>
            </thead>
            <tbody x-init="$watch('sort', val => {
                if (val[0] === '-') {
                    object_list.reverse();
                } else {
                    object_list.sort((a, b) => {
                        keys = val.split('__');
                        if (keys.length === 1) {
                            if (!a[keys[0]]) {
                                return !b[keys[0]] ? 0 : -1;
                            }
                            if (!b[keys[0]]) {
                                return 1;
                            }
                            if (typeof a[keys[0]] === 'string') {
                                return a[keys[0]].localeCompare(b[keys[0]]);
                            } else {
                                a_arr = [];
                                for (let i = 0; i < a[keys[0]].length; i++) {
                                    a_arr.push(a[keys[0]][i].name);
                                }
                                a_arr.sort();
                                b_arr = [];
                                for (let i = 0; i < b[keys[0]].length; i++) {
                                    b_arr.push(b[keys[0]][i].name);
                                }
                                b_arr.sort();
                                return a_arr.toString().localeCompare(b_arr.toString());
                            }
                        } else if (keys.length === 2) {
                            if (!a[keys[0]][keys[1]]) {
                                return !b[keys[0]][keys[1]] ? 0 : -1;
                            }
                            if (!b[keys[0]][keys[1]]) {
                                return 1;
                            }
                            if (typeof a[keys[0]][keys[1]] === 'string') {   
                                return a[keys[0]][keys[1]].localeCompare(b[keys[0]][keys[1]]); 
                            } else {
                                a_arr = [];
                                for (let i = 0; i < a[keys[0]][keys[1]].length; i++) {
                                    a_arr.push(a[keys[0]][keys[1]][i].name);
                                }
                                a_arr.sort();
                                b_arr = [];
                                for (let i = 0; i < b[keys[0]][keys[1]].length; i++) {
                                    b_arr.push(b[keys[0]][keys[1]][i].name);
                                }
                                b_arr.sort();
                                return a_arr.toString().localeCompare(b_arr.toString());
                            }
                        } else if (keys.length === 3) {
                            if (!a[keys[0]][keys[1]][keys[2]]) {
                                return !b[keys[0]][keys[1]][keys[2]] ? 0 : -1;
                            }
                            if (!b[keys[0]][keys[1]][keys[2]]) {
                                return 1;
                            }
                            if (typeof a[keys[0]][keys[1]][keys[2]] === 'string') {
                                return a[keys[0]][keys[1]][keys[2]].localeCompare(b[keys[0]][keys[1]][keys[2]]); 
                            } else {
                                a_arr = [];
                                for (let i = 0; i < a[keys[0]][keys[1]][keys[2]].length; i++) {
                                    a_arr.push(a[keys[0]][keys[1]][keys[2]][i].name);
                                }
                                a_arr.sort();
                                b_arr = [];
                                for (let i = 0; i < b[keys[0]][keys[1]][keys[2]].length; i++) {
                                    b_arr.push(b[keys[0]][keys[1]][keys[2]][i].name);
                                }
                                b_arr.sort();
                                return a_arr.toString().localeCompare(b_arr.toString());
                            }
                        }
                    });
                }
            })">
                <template x-for="obj in object_list">
                    <tr x-data="{ filterMatch: true }" x-show="filterMatch" x-init="$watch('filter', val => {filterMatch = false;})">
                        <template x-if="Object.keys(obj).includes('name')">
                            <td class="text-left" x-init="$watch('filter', val => {const filterVal = val.trim().toLowerCase(); if (obj.name?.toLowerCase().includes(filterVal)) {filterMatch = true}})" x-text="obj.name"></td>
                        </template>
                        <template x-if="Object.keys(obj).includes('description')">
                            <td class="text-left" x-init="$watch('filter', val => {const filterVal = val.trim().toLowerCase(); if (obj.description?.toLowerCase().includes(filterVal)) {filterMatch = true}})" x-text="obj.description"></td>
                        </template>
                        <template x-if="Object.keys(obj).includes('class_assoc')">
                            <td class="text-center" x-init="$watch('filter', val => {const filterVal = val.trim().toLowerCase(); if (obj.class_assoc.name?.toLowerCase().includes(filterVal)) {filterMatch = true}})" x-text="obj.class_assoc.name"></td>
                        </template>
                        <template x-if="Object.keys(obj).includes('module') || Object.keys(obj).includes('from_class')">
                            <td class="text-center" x-init="$watch('filter', val => {
                                const filterVal = val.trim().toLowerCase(); 
                                if (Object.keys(obj).includes('module')) {
                                    if (obj.module.name?.toLowerCase().includes(filterVal)) {
                                        filterMatch = true;
                                    }
                                }
                                if (Object.keys(obj).includes('from_class')) {
                                    if (obj.from_class.module.name?.toLowerCase().includes(filterVal)) {
                                        filterMatch = true;
                                    }
                                }
                            })" x-text="Object.keys(obj).includes('module') ? obj.module.name : obj.from_class.module.name"></td>
                        </template>
                        <template x-if="Object.keys(obj).includes('projects') || Object.keys(obj).includes('module')">
                            <td class="text-left">
                                <ul class="list-disc list-outside ml-4">
                                    <template x-if="Object.keys(obj).includes('projects')">
                                        <template x-for="project in obj.projects">
                                            <li x-init="$watch('filter', val => {const filterVal = val.trim().toLowerCase(); if (project.name?.toLowerCase().includes(filterVal)) {filterMatch = true}})" x-text="project.name"></li>
                                        </template>
                                    </template>
                                    <template x-if="Object.keys(obj).includes('module')">
                                        <template x-for="project in obj.module.projects">
                                            <li x-init="$watch('filter', val => {const filterVal = val.trim().toLowerCase(); if (project.name?.toLowerCase().includes(filterVal)) {filterMatch = true}})" x-text="project.name"></li>
                                        </template>
                                    </template>
                                </ul>
                            </td>
                        </template>
                        <template x-if="Object.keys(obj).includes('visibility')">
                            <td class="text-center" x-init="$watch('filter', val => {const filterVal = val.trim().toLowerCase(); if (obj.visibility?.toLowerCase().includes(filterVal)) {filterMatch = true}})" x-text="obj.visibility"></td>
                        </template>
                        <template x-if="Object.keys(obj).includes('data_type')">
                            <td class="text-center" x-init="$watch('filter', val => {const filterVal = val.trim().toLowerCase(); if (obj.data_type?.toLowerCase().includes(filterVal)) {filterMatch = true}})" x-text="obj.data_type"></td>
                        </template>
                        <template x-if="Object.keys(obj).includes('arguments')">
                            <td class="text-left" x-init="$watch('filter', val => {const filterVal = val.trim().toLowerCase(); if (obj.arguments?.trim().toLowerCase().includes(filterVal)) {filterMatch = true}})" x-text="obj.arguments"></td>
                        </template>
                        <template x-if="Object.keys(obj).includes('return_type')">
                            <td class="text-center" x-init="$watch('filter', val => {const filterVal = val.trim().toLowerCase(); if (obj.return_type?.trim().toLowerCase().includes(filterVal)) {filterMatch = true}})" x-text="obj.return_type"></td>
                        </template>
                        <template x-if="Object.keys(obj).includes('from_class')">
                            <td class="text-center" x-init="$watch('filter', val => {const filterVal = val.trim().toLowerCase(); if (obj.from_class.name?.toLowerCase().includes(filterVal)) {filterMatch = true}})" x-text="obj.from_class.name"></td>
                        </template>
                        <template x-if="Object.keys(obj).includes('to_class')">
                            <td class="text-center" x-init="$watch('filter', val => {const filterVal = val.trim().toLowerCase(); if (obj.to_class.name?.toLowerCase().includes(filterVal)) {filterMatch = true}})"x-text="obj.to_class.name"></td>
                        </template>
                        <template x-if="Object.keys(obj).includes('relationship_type')">
                            <td class="text-center" x-init="$watch('filter', val => {const filterVal = val.trim().toLowerCase(); if (obj.relationship_type?.toLowerCase().includes(filterVal)) {filterMatch = true}})" x-text="obj.relationship_type"></td>
                        </template>
                        <td>
                            <div class="w-full flex justify-start items-center space-x-2 md:space-x-3 xl:space-x-4">
                                <a href="" class="btn-square primary" x-init="() => {const objType = '{{ model_name }}'.toLowerCase(); $el.href = `/class-manager/${objType}/${obj.id}/detail/`}">
                                    <i class="fa-solid fa-eye text-slate-200"></i>
                                </a>
                                <button class="btn-square red" @click="deletePK = obj.id; showDelete = true">
                                    <i class="fa-solid fa-trash-can text-slate-200"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </template>
            </tbody>
        </table>
        <div class="bg-slate-500/15 backdrop-blur-sm fixed inset-0 z-50" x-show="showDelete" @click.self="showDelete = false">
            <section class="absolute transition top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 bg-white dark:bg-slate-800 shadow-lg dark:shadow-violet-800 border border-slate-300 dark:border-slate-600 z-[70]">
                <header class="py-1 md:py-2 xl:py-4 3xl:py-6 px-2 md:px-4 xl:px-6 3xl:px-8 bg-violet-700 dark:bg-violet-700 text-slate-100 flex justify-between space-x-2 sm:space-x-4 md:space-x-6 lg:space-x-8 xl:space-x-10 2xl:space-x-12">
                    <h3 class="text-slate-100 self-end">Delete</h3>
                    <button class="self-start h-8 w-8 md:h-10 md:w-10 lg:h-12 lg:w-12 xl:h-14 xl:w-14 rounded-full p-1 hover:bg-white/20" @click="showDelete = false">
                        <i class="fa-solid fa-x"></i>
                    </button>
                </header>
                <form class="p-2 md:p-4 xl:p-6 3xl:p-8 mt-2 md:mt-4 xl:mt-6 space-y-3 md:space-y-5 xl:space-y-7" method="POST" action="" x-init="() => {$watch('deletePK', val => {const action = `${window.location.pathname}?pk=${val}`; $el.action = action})}">
                    {% csrf_token %}
                    <p>Are you sure you want to delete this {{ model_name }}? This action cannot be undone.</p>
                    <input type="hidden" value=deletePK />
                    <div class="flex justify-between items-center space-x-2 md:space-x-4 xl:space-x-8">
                        <button class="btn primary" @click.prevent="showDelete = false">Cancel</button>
                        <button type="submit" class="btn red">Confirm</button>
                    </div>
                </form>
            </section>
        </div>
    </section>
    {% endif %}
</section>
{% endblock %}