{% extends 'base.html' %}
{% load static %}

{% block page %}
<section class="grow basis-full mx-4 mt-5 sm:mt-6 md:mx-5 md:mt-8 lg:mx-6 lg:mt-10 2xl:mx-8 2xl:mt-12">
    <form id="create-form" method="post" action="{% url action pk=object.id %}" class="mx-0 md:mx-auto rounded-md lg:rounded-lg p-4 md:p-8 lg:p-12 xl:p-16 w-full md:w-4/5 lg:w-2/3 xl:w-1/2 space-y-4 lg:space-y-6 shadow-md md:shadow-lg lg:shadow-xl bg-slate-100 dark:bg-slate-700 dark:shadow-violet-800">
        <h2 class="text-center">Update {{ model_name }} {{ object.id }}</h2>
        <h3 class="text-center">{{ object.name|title }}</h3>
        {% csrf_token %}
        {% for field in form %}
        <div class="field-wrapper group">
            {{ field.as_field_group }}
        </div>
        {% endfor %}
        {% if form.errors %}
        <div>
            <p class="text-red-500 dark:text-red-600 text-sm md:text-base">Please correct the following errors:</p>
            <ul class="errorlist">
                {% for field, error_list in form.errors.items %}
                    {% for error in error_list %}
                    <li>{{ field }}: {{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        <div class="pt-3 flex flex-wrap md:flex-nowrap justify-between md:items-center">
            <a class="btn mr-auto primary" href="{% url detail_route pk=object.id %}">Cancel</a>
            <button type="submit" class="ml-auto btn green">Submit</button>
        </div>
    </form>
</section>
<script src="{% static 'js/form.js' %}"></script>
{% endblock %}