{% extends "base.html" %}
{% load static num_format %}

{% block page %}
<section class="grow basis-full mx-4 mt-5 sm:mt-6 md:mx-5 md:mt-8 lg:mx-6 lg:mt-10 2xl:mx-8 2xl:mt-12">
    <h2 class="mx-auto text-center">Workbench</h2>
    <section class="w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 gap-3 sm:gap-4 md:gap-5 lg:gap-6 xl:gap-8 2xl:gap-10 3xl:gap-12 mt-4 sm:mt-5 md:mt-6 lg:mt-8 xl:mt-10 2xl:mt-12">
        {% for object_type, content in data.items %}
        <div class="shadow-md dark:shadow-violet-800 border border-slate-300 dark:border-slate-400 rounded-md overflow-hidden">
            <header class="bg-blue-700 dark:bg-violet-700 w-full p-1 md:p-2 lg:px-3 rounded-t-md">
                <h3 class="space-x-2 md:space-x-3 xl:space-x-4 flex items-center text-slate-100">
                    <i class="{{ content.icon_class }}"></i>
                    <span>{{ object_type | title }}</span>
                </h3>
            </header>
            <section class="grid grid-cols-4 sm:grid-cols-5 lg:grid-cols-3 xl:grid-cols-4 3xl:grid-cols-5 md:h-[calc(100%-48px)]">
                <p class="flex items-center justify-center text-xl md:text-2xl lg:text-3xl font-semibold lg:col-span-1 3xl:col-span-2 text-center border-r border-slate-300 dark:border-slate-400 row-span-2">{{content.objects | length | num_format }}</p>
                <div class="border-b border-slate-300 dark:border-slate-400 flex justify-end items-center space-x-2 lg:space-x-3 3xl:space-x-4 p-1 sm:p-2 md:p-3 xl:p-4 3xl:p-5 col-span-3 sm:col-span-4 lg:col-span-2 xl:col-span-3">
                    <a class="btn-flex primary space-x-2" href="{% url content.list %}">
                        <i class="fa-solid fa-eye"></i>
                        <span class="hidden md:inline">View</span>
                    </a>
                    <a class="btn-flex primary space-x-2" href="{% url content.add %}">
                        <i class="fa-solid fa-plus"></i>
                        <span class="hidden md:inline">Add</span>
                    </a>
                </div>
                <details class="p-1 sm:p-2 md:p-3 xl:p-4 3xl:p-5 col-span-3 lg:col-span-2 xl:col-span-3">
                    <summary class="marker:text-blue-700 dark:marker:text-violet-500">
                        <h4 class="inline">Description</h4>
                    </summary>
                    <p>{{ content.details }}</p>
                </details>
            </section>
        </div>
        {% endfor %}
    </section>
</section>
{% endblock %}