{% load static %}

<aside class="p-2 sm:p-4 md:p-2 xl:py-4 xl:px-8 -translate-x-full transition-transform duration-300 overflow-visible z-30" :class="showSidebar ? 'relative top-0 bottom-0 left-0 border-r border-slate-300 dark:border-slate-400 translate-x-0' : 'absolute'">
    <nav class="px-1 md:px-2 w-10 flex justify-center flex-wrap space-y-2 sm:space-y-4 md:space-y-6 transition-[width] duration-300 overflow-visible z-30" :class="sidebarExpanded && 'md:w-48 lg:w-56'">
        <div class="flex items-center justify-center w-full overflow-visible">
            <button @click="sidebarExpanded = !sidebarExpanded" class="relative w-full p-1 text-blue-700 dark:text-violet-600 flex justify-end items-baseline hover:bg-blue-200 dark:hover:bg-violet-400 active:bg-blue-300 dark:active:bg-violet-400 after:content-['Expand'] with-tooltip" :class="sidebarExpanded && 'after:hidden'">
                |
                <i class="fa-solid fa-angles-right transition-transform duration-300 h-4 w-4" :class="sidebarExpanded && 'rotate-180'"></i>
            </button>
        </div>
        <div class="h-0.5 bg-slate-500 rounded w-full"></div>
        <div class="space-y-2 flex justify-center flex-wrap w-full overflow-visible">
            <a href="{% if user.is_authenticated %}{% url 'workbench' %}{% else %}{% url 'home' %}{% endif %}" class="group after:content-['Home']" :class="sidebarExpanded && 'justify-between after:hidden'">
                <i class="fa-solid fa-house"></i>
                <span x-show="sidebarExpanded" class="ml-2 hidden md:inline">Home</span>
            </a>
            {% if user.is_authenticated %}
            <a href="{% url 'class_manager:project-list' %}" class="group after:content-['Projects']" :class="sidebarExpanded && 'justify-between after:hidden'">
                <i class="fa-solid fa-list-check"></i>
                <span x-show="sidebarExpanded" class="ml-2 hidden md:inline">Projects</span>
            </a>
            <a href="{% url 'class_manager:module-list' %}" class="group after:content-['Modules']" :class="sidebarExpanded && 'justify-between after:hidden'">
                <i class="fa-solid fa-robot"></i>
                <span x-show="sidebarExpanded" class="ml-2 hidden md:inline">Modules</span>
            </a>
            <a href="{% url 'class_manager:class-list' %}" class="group after:content-['Classes']" :class="sidebarExpanded && 'justify-between after:hidden'">
                <i class="fa-solid fa-shapes"></i>
                <span x-show="sidebarExpanded" class="ml-2 hidden md:inline">Classes</span>
            </a>
            <a href="{% url 'class_manager:property-list' %}" class="group after:content-['Properties']" :class="sidebarExpanded && 'justify-between after:hidden'">
                <i class="fa-solid fa-arrows-to-dot"></i>
                <span x-show="sidebarExpanded" class="ml-2 hidden md:inline">Properties</span>
            </a>
            <a href="{% url 'class_manager:method-list' %}" class="group after:content-['Methods']" :class="sidebarExpanded && 'justify-between after:hidden'">
                <i class="fa-solid fa-rocket"></i>
                <span x-show="sidebarExpanded" class="ml-2 hidden md:inline">Methods</span>
            </a>
            <a href="{% url 'class_manager:relationship-list' %}" class="group after:content-['Relationships']" :class="sidebarExpanded && 'justify-between after:hidden'">
                <i class="fa-solid fa-sitemap"></i>
                <span x-show="sidebarExpanded" class="ml-2 hidden md:inline">Relationships</span>
            </a>
            {% endif %}
        </div>
        <div class="h-0.5 bg-slate-500 rounded w-full"></div>
        <div class="space-y-2 flex justify-center flex-wrap w-full overflow-visible">
            <button class="relative w-full p-1 flex justify-between items-center hover:bg-blue-200 dark:hover:bg-violet-400 active:bg-blue-300 focus:bg-blue-200 dark:active:bg-violet-500 dark:focus:bg-violet-400 with-tooltip after:content-['Toggle\00A0Theme']" x-data="{ theme: 'light'}" @click="const currentTheme = localStorage.getItem('theme'); if (currentTheme === 'light') {localStorage.setItem('theme', 'dark'); theme = 'dark';} else {localStorage.setItem('theme', 'light'); theme = 'light'}; console.log('toggling theme'); document.documentElement.classList.toggle('dark')" x-init="() => {theme = localStorage.getItem('theme')}" :class="sidebarExpanded && 'after:hidden'">
                <i class="fa-solid fa-circle-half-stroke text-slate-700 dark:hidden"></i>
                <i class="text-yellow-400" :class="theme === 'dark' ? 'fa-solid fa-sun' : 'hidden'"></i>
                <span x-show="sidebarExpanded" class="ml-2">Toggle Theme</span>
            </button>
            {% if user.is_authenticated %}
            <a href="{% url 'account-update' pk=user.id %}" class="group after:content-['Account']" :class="sidebarExpanded && 'justify-between after:hidden'">
                <i class="fa-solid fa-user"></i>
                <span x-show="sidebarExpanded" class="ml-2 hidden md:inline">Account</span>
            </a>
            <a href="{% url 'logout' %}" class="group after:content-['Log\00A0Out']" :class="sidebarExpanded && 'justify-between after:hidden'">
                <i class="fa-solid fa-right-from-bracket"></i>
                <span x-show="sidebarExpanded" class="ml-2 hidden md:inline">Log Out</span>
            </a>
            {% else%}
            <a href="{% url 'login' %}" class="group after:content-['Log\00A0In']" :class="sidebarExpanded && 'justify-between after:hidden'">
                <i class="fa-solid fa-right-to-bracket"></i>
                <span x-show="sidebarExpanded" class="ml-2 hidden md:inline">Log In</span>
            </a>
            <a href="{% url 'register' %}" class="group after:content-['Register']" :class="sidebarExpanded && 'justify-between after:hidden'">
                <i class="fa-solid fa-user-plus"></i>
                <span x-show="sidebarExpanded" class="ml-2 hidden md:inline">Register</span>
            </a>
            {% endif %}
        </div>
    </nav>
</aside>